// Nova Tool CSS
.my-amap-page{
  height: calc(100vh - 175px);
  width: 100%;
  box-shadow: 0 0 15px 5px #ccc;
  position: relative;
}

//  卫星
.satellite {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  padding: 14px 0 13px;
  border-radius: 3px;
  box-shadow: 0 0 5px #aaa;
}
.layer_item{
  height: 18px;
  padding: 0 12px;
  font-size: 12px;
  color: #5f6477;
  cursor:pointer;
  float: left;
}
.layer_item:hover {
  opacity: .6;
}
.item_active{
  color: #009cf9;
  path{
    fill: #009cf9;
  }
}
.item_svg{
  path{
    fill: #009cf9;
  }
}


.wrapper {
  right: 95px;
}  

@media (max-width: 992px) {
  .my-amap-page{
    height: calc(100vh - 155px);
  }
}



//  隐藏高德地图图标
.amap-logo{
  display: none!important;
}
.amap-copyright{
  display: none!important;
}

// 隐藏信息窗体的 × 
.amap-info-close{
  display: none;
}