// Nova Tool CSS
.my-amap-page{
  //height:100%;
  // min-height:700px;
  // height:700px;
  height: calc(100vh - 150px);
  width: 100%;
  box-shadow: 0 0 15px 5px #ccc;
}
//  隐藏高德地图图标
.amap-logo{
  display: none!important;
}
.amap-copyright{
  display: none!important;
}